<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">
			Change Password
		</h1>
		<button class="button button-assertive" ng-click="passwordModal.hide()">
			close
		</button>
	</ion-header-bar>

	<ion-content>
		<form name="password_form" ng-submit="password_form.$valid && api.password()">
			<ion-list>
				<ion-item class="item item-input item-stacked-label">
					<span class="input-label">
						Current Password
					</span>
					<input type="password" ng-model="password.old" required>
				</ion-item>

				<ion-item class="item item-input item-stacked-label">
					<span class="input-label">
						New Password
					</span>
					<input type="password" ng-model="password.new" required>
				</ion-item>

				<ion-item class="item item-input item-stacked-label">
					<span class="input-label">
						Confirm Password
					</span>
					<input type="password" ng-model="password.confirm" required>
				</ion-item>

				<ion-item ng-show="password.new != password.confirm">
                    <span style="margin-left: 10px;color:red;">
                    	Passwords Don't Match!
                    </span>
                </ion-item>
			</ion-list>

			<div class="padding">
				<button type="submit" class="button button-block button-positive" ng-disabled="password.new != password.confirm || !password.new && !password_form.$valid">
					Change Password
				</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>